@{
    ViewData["Title"] = "Confirm email";
}

    <div class="row flex align-items-center">
       
        <div class="col-lg-7 col-md-5 align-items-center col-sm-6 ml-auto flex d-flex mr-auto full-height pt-40 pb-20">
            <div class="w100 d-block text-center">

                <a href="/" class=" bg-success text-success-light rounded-circle ">
                <i class="fa fa-check"></i> 
                </a>
                <div class="row">

                    <div class="col-md-auto">

                        <div class="clearfix pt-3">

                            <p> HEY THERE,<br>YOUR ACCOUNT HAS BEEN CREATED!<br>
                            Please, verify it by clicking the activation link that has been sent to your email.
                            <br>If the email doesn't appear shortly, please be sure to check your spam</p>
                            <p> <button class="btn btn-info btn-fill" type="button" id="resendMail">Send mail again</button>
                                </p>

                            <div class="text-center pt-2"> 
                               <a href="/" class="pb-1 b-b text-muted"> Go Home </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3 bg-light p-2">
                        <div class="carbon-horizontal">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
