@model WorkshopWeb.Models.CarViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Car</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BrandCarId" class="control-label"></label>
                <select asp-for="BrandCarId" asp-items="Model.Brands" class="form-control"></select>
                <span asp-validation-for="BrandCarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelCarId" class="control-label"></label>
                <select asp-for="ModelCarId" asp-items="Model.Models" class="form-control"></select>
                <span asp-validation-for="ModelCarId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationPlate" class="control-label"></label>
                <input asp-for="RegistrationPlate" class="form-control" />
                <span asp-validation-for="RegistrationPlate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#BrandCarId").change(function () {
                debugger;
                $("#ModelCarId").empty();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetModelCarsAsync")',
                    dataType: 'json',
                    data: { brandCarId: $("#BrandCarId").val() },
                    success: function (Model) {
                        debugger;
                        $("#ModelCarId").append('<option value="0">(Select a Model...)</option>');
                        $.each(Model, function (i, model) {
                            $("#ModelCarId").append('<option value="'
                                + model.id + '">'
                                + model.name + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Failed to retrieve Models.' + ex);
                    }
                });
                return false;
            })
        });
    </script>
}
